
<ion-header>
  <page-header pageTitle="SYSTEMS"></page-header>
</ion-header>



  <ion-content>
 
      <ion-segment [(ngModel)]="systems" color="white" >
         <ion-segment-button value="newSystem">
            Add System
         </ion-segment-button>
         <ion-segment-button value="allSystems" (click)="getSystems()">
           All Systems
         </ion-segment-button>
      </ion-segment>
  <div [ngSwitch]="systems">
    <div *ngSwitchCase="'newSystem'">
      <form [formGroup]="systemsForm" (ngSubmit)="onSubmit()">
      <ion-list>
          <h6 class="title">System Information</h6>
        
            <ion-item col-12>
              <ion-input hidden formControlName="$key"></ion-input>
              <ion-input hidden formControlName="avValidity"></ion-input>
              <ion-label stacked>System Id</ion-label>
              <ion-input type="text" formControlName="systemId"></ion-input>
             
                <button ion-button type="button" color="blue" (click)="scanBarCode('system')" small item-right>
                  <ion-icon name="barcode"> </ion-icon>
                </button>
               
            </ion-item>
            <ion-item  no-lines *ngIf="(systemsForm.get('systemId').hasError('minlength') || systemsForm.get('systemId').hasError('required') ) && systemsForm.get('systemId').touched">

              <ion-label stacked  color="danger" *ngIf="systemsForm.get('systemId').hasError('required') && systemsForm.get('systemId').touched">
              SystemId is required
              </ion-label>
              <ion-label stacked color="danger" *ngIf="systemsForm.get('systemId').hasError('minlength') && systemsForm.get('systemId').touched">
              Minimum of 5 characters
              </ion-label>
              </ion-item>
       
             
                <ion-item col-12>
                  <ion-label stacked>Keyboard</ion-label>
                  <ion-input type="text" formControlName="keyboard" ></ion-input>
                    <button ion-button small type="button" (click)="scanBarCode('keyboard')" color="blue" item-right>
                      <ion-icon name="barcode"> </ion-icon>
                    </button>
                  </ion-item>
                  <ion-item  no-lines *ngIf="(systemsForm.get('keyboard').hasError('minlength') || systemsForm.get('keyboard').hasError('required') ) && systemsForm.get('keyboard').touched">
                    <ion-label stacked  color="danger" *ngIf="(systemsForm.get('keyboard').hasError('required')  || systemsForm.get('keyboard').hasError('minlength')) && systemsForm.get('keyboard').touched" >
                      Keyboard Details is Required
                    </ion-label>
                  </ion-item>
           
            
                <ion-item col-12>
                  <ion-label stacked>Mouse</ion-label>
                  <ion-input type="text" formControlName="mouse"></ion-input>
                    <button ion-button small type="button" (click)="scanBarCode('mouse')" color="blue" item-right>
                        <ion-icon name="barcode"> </ion-icon>
                      </button>
                  </ion-item>
                  <ion-item  no-lines *ngIf="(systemsForm.get('mouse').hasError('minlength') || systemsForm.get('mouse').hasError('required') ) && systemsForm.get('mouse').touched">
                    <ion-label stacked  color="danger" *ngIf="(systemsForm.get('mouse').hasError('required')  || systemsForm.get('mouse').hasError('minlength')) && systemsForm.get('mouse').touched" >
                      Mouse Details is Required
                    </ion-label>
                  </ion-item>
               

              <ion-item col-12>
                <ion-label stacked>Processor</ion-label>
                <ion-input type="text" formControlName="processor" ></ion-input>
              </ion-item>
              <ion-item  no-lines *ngIf="(systemsForm.get('processor').hasError('minlength') || systemsForm.get('processor').hasError('required') ) && systemsForm.get('processor').touched">
                <ion-label stacked  color="danger" *ngIf="(systemsForm.get('processor').hasError('required')  || systemsForm.get('processor').hasError('minlength')) && systemsForm.get('processor').touched" >
                  Processor Details is Required
                </ion-label>
              </ion-item>
             <ion-row  >
              <ion-item  col-6>
                <ion-label stacked>Primary Memory</ion-label>
                <ion-input type="text" formControlName="memory" ></ion-input>
              </ion-item>
              

              <ion-item no-lines col-6>
                <ion-label stacked>Hard Disk</ion-label>
                <ion-input type="text" formControlName="hdd" ></ion-input>
              </ion-item>
              
            </ion-row>  
            <ion-row>
            <ion-item col-6 no-lines *ngIf="(systemsForm.get('memory').hasError('minlength') || systemsForm.get('memory').hasError('required') ) && systemsForm.get('memory').touched">
              <ion-label stacked  color="danger" *ngIf="(systemsForm.get('memory').hasError('required')  || systemsForm.get('memory').hasError('minlength')) && systemsForm.get('memory').touched" >
                Memory Details is Required
              </ion-label>
            </ion-item>
            <ion-item col-6  no-lines *ngIf="(systemsForm.get('hdd').hasError('minlength') || systemsForm.get('hdd').hasError('required') ) && systemsForm.get('hdd').touched">
              <ion-label stacked  color="danger" *ngIf="(systemsForm.get('hdd').hasError('required')  || systemsForm.get('hdd').hasError('minlength')) && systemsForm.get('hdd').touched" >
                HDD Details is Required
              </ion-label>
            </ion-item>
          </ion-row>
        
            <ion-item col-12>
              <ion-label stacked>Antivirus Expiry</ion-label>
              <ion-input type="text" readonly formControlName="avExpiry" (click)="dispdate()" (ionFocus)="dispdate()" ></ion-input>
            </ion-item>
            <ion-item  no-lines *ngIf="(systemsForm.get('avExpiry').hasError('minlength') || systemsForm.get('avExpiry').hasError('required') ) && systemsForm.get('avExpiry').touched">
              <ion-label stacked  color="danger" *ngIf="(systemsForm.get('avExpiry').hasError('required')  || systemsForm.get('avExpiry').hasError('minlength')) && systemsForm.get('avExpiry').touched" >
                Antivirus Details is Required
              </ion-label>
            </ion-item>
          

              <ion-row>
                <ion-col col-6>
                <button ion-button type="submit" [disabled]="systemsForm.invalid" icon-end full color=blue   >
                  Save
                </button>
              </ion-col>
              <ion-col col-6>
                  <button ion-button type="reset"  icon-end full color=blue   >
                    Cancel
                  </button>
                </ion-col>
              </ion-row> 
             
      </ion-list>
    </form>

    
    </div>

    <div *ngSwitchCase="'allSystems'">
      <ion-list>
        <ion-searchbar hidden placeholder="Find System" showCancelButton="false">
       </ion-searchbar>
       <button type="button"  color="blue" ion-button (click)="scanBarCode('db')">Scanner</button>
      </ion-list>
      <ion-item>
        <ion-row class="table-title">
          <ion-col col-4 >System Id</ion-col>
          <ion-col col-3 >RAM</ion-col>
          <ion-col col-3 >HDD</ion-col>
          <ion-col col-2 >Antivirus</ion-col>
          <ion-col hidden col-2 >View</ion-col>
        </ion-row>
      </ion-item>
      <ion-item *ngFor="let system of systemArray">
        <ion-row class="col-text table-bottom-border" (click)="loadForm(system)" >
            <ion-col col-4>{{system.systemId}}</ion-col><ion-col col-3>{{system.memory}}</ion-col><ion-col col-3>{{system.hdd}}</ion-col><ion-col col-2>{{system.avExpiry | momentdate}} Days</ion-col>
        </ion-row>
      </ion-item>

      
    </div>


  </div>
    
  </ion-content>
  
 