.ip{
    margin-top: 2px;
}

ion-col.radio-combo *{
    float:left;
    margin-right:2px;
    color:#372929;
}

input[disabled] {
    color:#000 !important;
    background: none !important;
    opacity: 1 !important;
    }

    .select-disabled,ion-label {
        opacity: 1;
        .select-icon {
            visibility: hidden;
        }
    }