
<ion-header no-border>
  <navbar pageTitle="SYSTEMS"></navbar>
</ion-header>



  <ion-content>
   

      <ion-segment [(ngModel)]="systems" color="white" >
         <ion-segment-button value="newSystem">
            Add System
         </ion-segment-button>
         <ion-segment-button value="allSystems" (click)="getSystems()">
           All Systems
         </ion-segment-button>
      </ion-segment>
  <div [ngSwitch]="systems">
    <div *ngSwitchCase="'newSystem'">
      <form [formGroup]="systemsForm" (ngSubmit)="onSubmit()">
      <ion-item no-lines>
          <ion-label class="title">System Information</ion-label>
          <button *ngIf="replace" ion-button item-right small color="blue" type="button" (click)="tony()" >Maintenance History</button>
        </ion-item>
          <ion-item>
            <ion-label stacked>Purchase Date</ion-label>
            <ion-input [disabled]="replace" type="text" readonly formControlName="purchaseDate" (tap)="dispdate('purchaseDate')"  ></ion-input>
          </ion-item>
        
          <ion-item  no-lines *ngIf="(systemsForm.get('purchaseDate').hasError('minlength') || systemsForm.get('purchaseDate').hasError('required') ) && systemsForm.get('purchaseDate').touched">
            <ion-label stacked  color="danger" *ngIf="(systemsForm.get('purchaseDate').hasError('required')  || systemsForm.get('purchaseDate').hasError('minlength')) && systemsForm.get('purchaseDate').touched" >
              Purchase date is required
            </ion-label>
          </ion-item>

          
         
   

            <ion-item col-12>
              <ion-input hidden formControlName="$key"></ion-input>
             
              <ion-label stacked>System Id</ion-label>
              <ion-input type="text" [disabled]="replace" formControlName="systemId"></ion-input>
             
                <button *ngIf="!replace" ion-button type="button" color="blue" (click)="scanBarCode('system')" small item-right>
                  <ion-icon name="barcode"> </ion-icon>
                </button>
               
            </ion-item>
            <ion-item  no-lines *ngIf="(systemsForm.get('systemId').hasError('minlength') || systemsForm.get('systemId').hasError('required') ) && systemsForm.get('systemId').touched">

              <ion-label stacked  color="danger" *ngIf="systemsForm.get('systemId').hasError('required') && systemsForm.get('systemId').touched">
              SystemId is required
              </ion-label>
              <ion-label stacked color="danger" *ngIf="systemsForm.get('systemId').hasError('minlength') && systemsForm.get('systemId').touched">
              Minimum of 5 characters
              </ion-label>
              </ion-item>
       
             
                <ion-item col-12>
                  <ion-label stacked>Keyboard</ion-label>
                  <ion-input type="text" [readonly]="replace" formControlName="keyboard" ></ion-input>
                 
                  <button ion-button item-right color="blue" type="button" *ngIf="replace" (click)="modify('keyboard')">
                    <ion-icon  small name="create" ></ion-icon>
                  </button>
                  
                  
                  <button *ngIf="!replace"  ion-button small type="button" (click)="scanBarCode('keyboard')" color="blue" item-right>
                      <ion-icon name="barcode"> </ion-icon>
                    </button>
                  </ion-item>
                  <ion-item  no-lines *ngIf="(systemsForm.get('keyboard').hasError('minlength') || systemsForm.get('keyboard').hasError('required') ) && systemsForm.get('keyboard').touched">
                    <ion-label stacked  color="danger" *ngIf="(systemsForm.get('keyboard').hasError('required')  || systemsForm.get('keyboard').hasError('minlength')) && systemsForm.get('keyboard').touched" >
                      Keyboard Details is Required
                    </ion-label>
                  </ion-item>
           
            
                <ion-item col-12>
                  <ion-label stacked>Mouse</ion-label>
                  <ion-input type="text" [disabled]="replace" formControlName="mouse"></ion-input>
                  <button ion-button item-right color="blue" type="button" *ngIf="replace" (click)="modify('mouse')">
                      <ion-icon  small name="create" ></ion-icon>
                    </button>
                    <button *ngIf="!replace" ion-button small type="button"  color="blue" item-right>
                        <ion-icon name="barcode"> </ion-icon>
                      </button>
                  </ion-item>
                  <ion-item  no-lines *ngIf="(systemsForm.get('mouse').hasError('minlength') || systemsForm.get('mouse').hasError('required') ) && systemsForm.get('mouse').touched">
                    <ion-label stacked  color="danger" *ngIf="(systemsForm.get('mouse').hasError('required')  || systemsForm.get('mouse').hasError('minlength')) && systemsForm.get('mouse').touched" >
                      Mouse Details is Required
                    </ion-label>
                  </ion-item>
               

              <ion-item col-12>
                <ion-label stacked>Processor</ion-label>
                <ion-input type="text" [disabled]="replace" formControlName="processor" ></ion-input>
                <button ion-button item-right color="blue" type="button" *ngIf="replace" (click)="modify('processor')">
                    <ion-icon  small name="create" ></ion-icon>
                  </button>
              </ion-item>
              <ion-item  no-lines *ngIf="(systemsForm.get('processor').hasError('minlength') || systemsForm.get('processor').hasError('required') ) && systemsForm.get('processor').touched">
                <ion-label stacked  color="danger" *ngIf="(systemsForm.get('processor').hasError('required')  || systemsForm.get('processor').hasError('minlength')) && systemsForm.get('processor').touched" >
                  Processor Details is Required
                </ion-label>
              </ion-item>
             <ion-row  >
              <ion-item  col-6>
                <ion-label stacked>Primary Memory</ion-label>
                <ion-input type="text" [disabled]="replace" formControlName="memory" ></ion-input>
                <button ion-button item-right color="blue" type="button" *ngIf="replace" (click)="modify('memory')">
                    <ion-icon  small name="create" ></ion-icon>
                  </button>
              </ion-item>
              

              <ion-item col-6>
                <ion-label stacked>Hard Disk</ion-label>
                <ion-input type="text" [disabled]="replace" formControlName="hdd" ></ion-input>
                <button ion-button item-right color="blue" type="button" *ngIf="replace" (click)="modify('hdd')">
                    <ion-icon  small name="create" ></ion-icon>
                  </button>
              </ion-item>
              
            </ion-row>  
            <ion-row>
              <ion-col col-6>
            <ion-item no-lines *ngIf="(systemsForm.get('memory').hasError('minlength') || systemsForm.get('memory').hasError('required') ) && systemsForm.get('memory').touched">
              <ion-label stacked  color="danger" *ngIf="(systemsForm.get('memory').hasError('required')  || systemsForm.get('memory').hasError('minlength')) && systemsForm.get('memory').touched" >
                Memory is Required
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item  no-lines *ngIf="(systemsForm.get('hdd').hasError('minlength') || systemsForm.get('hdd').hasError('required') ) && systemsForm.get('hdd').touched">
              <ion-label stacked  color="danger" *ngIf="(systemsForm.get('hdd').hasError('required')  || systemsForm.get('hdd').hasError('minlength')) && systemsForm.get('hdd').touched" >
                HDD Details is Required
              </ion-label>
            </ion-item>
          </ion-col>
          </ion-row>
        
            <ion-item col-12>
              <ion-label stacked>Antivirus Expiry</ion-label>
              <ion-input type="text" [disabled]="replace" readonly formControlName="avExpiry" (tap)="dispdate('antivirus')"  ></ion-input>
              <button ion-button item-right color="blue" type="button" *ngIf="replace" (click)="modify('avExpiry')">
                  <ion-icon  small name="create" ></ion-icon>
                </button>
            </ion-item>
            <ion-item  no-lines *ngIf="(systemsForm.get('avExpiry').hasError('minlength') || systemsForm.get('avExpiry').hasError('required') ) && systemsForm.get('avExpiry').touched">
              <ion-label stacked  color="danger" *ngIf="(systemsForm.get('avExpiry').hasError('required')  || systemsForm.get('avExpiry').hasError('minlength')) && systemsForm.get('avExpiry').touched" >
                Antivirus Details is Required
              </ion-label>
            </ion-item>

            <ion-item col-12>
              <ion-label stacked>User</ion-label>
              <ion-select [disabled]="replace" formControlName="systemUser">
                <ion-option *ngFor="let emp of employeeList" [value]="emp.$key">{{emp.fName}} {{emp.lName}}</ion-option>
              </ion-select>
              <button ion-button item-right color="blue" type="button" *ngIf="replace" (click)="modify('systemUser')">
                  <ion-icon  small name="create" ></ion-icon>
                </button>

            </ion-item>


            
          

              <ion-row>
                <ion-col col-6 [hidden]="replace">
                <button ion-button type="submit"  [disabled]="systemsForm.invalid" icon-end full color=blue   >
                  Save
                </button>
              </ion-col>
              <ion-col (col-6)="!replace" (col-12)="replace">
                  <button ion-button type="button" (click)=formReset()  icon-end full color=blue   >
                    Cancel
                  </button>
                </ion-col>
              </ion-row> 
             
     
    </form>

    
    </div>

    <div *ngSwitchCase="'allSystems'">
      
       <ion-row>
          
          <ion-item col-10  no-lines >
              <ion-searchbar  placeholder="Search User"  [showCancelButton]="shouldShowCancel"  [(ngModel)]="searchString" ><ion-icon name="barcode" item-right> </ion-icon></ion-searchbar>
          </ion-item>
          <ion-item col-2>
              <ion-icon  type="button" name="barcode" (click)="scanBarCode('db')" color="blue"> </ion-icon>
           </ion-item>
        </ion-row>
       
      
      <ion-item>
        <ion-row class="table-title">
          <ion-col col-4 >System Id</ion-col>
           <ion-col col-3 >RAM</ion-col>
          <ion-col col-3 >HDD</ion-col>
          <ion-col col-2 >Antivirus</ion-col>
        </ion-row>
      </ion-item>
      <ion-item *ngFor='let system of systemArray | tableFilter : "systemId" : searchString; let i = index'>
        <ion-row class="col-text table-bottom-border" (click)="loadForm(system)" >
            <ion-col col-4>{{system.systemId}}</ion-col><ion-col col-3>{{system.memory}}</ion-col><ion-col col-3>{{system.hdd}}</ion-col><ion-col col-2>{{system.avExpiry | momentdate}} Days</ion-col>
        </ion-row>
      </ion-item>

      
    </div>


  </div>
    
  </ion-content>
  
 