.segment{
    background-color:#2679b0;
}

.segment-activated{
    border-bottom: solid 5px #F6A253 !important;
}

.slide-zoom {
    height: 100%
}

.heading1{
    background-color:#2679b0 !important;
    color:#FFF;
    height: 5px;
}

