<ion-header>
  <page-header pageTitle="USERS"></page-header>
</ion-header>

<ion-content  >
  <ion-segment [(ngModel)]="users" color="white" (click)="new1()">
    <ion-segment-button value="newUser"  >
    
     New User
    </ion-segment-button>
    <ion-segment-button value="allUsers" (click)="new()">
   
        All User
    </ion-segment-button>
  </ion-segment>
     
      <div [ngSwitch]="users">

          <div *ngSwitchCase="'newUser'">
          
              <h6 class="title section-title ">User Information</h6>
              
                 <ion-row>
                   <ion-item col-6> 
                        <ion-label stacked>First Name</ion-label>
                        <ion-input type="text" [(ngModel)]="userItem.fname" date-picker pickmode="single"></ion-input>
                    </ion-item> 
                     
                    <ion-item col-6> 
                        <ion-label stacked>Last Name</ion-label>
                        <ion-input type="text" [(ngModel)]="userItem.lname" ></ion-input>
                      </ion-item>
                    
                    </ion-row>
                    
                      <ion-item col-12 > 
                          <ion-label stacked>Date Of Birth</ion-label>
                          <ion-input type="text" readonly (tap)="dispdate('birth')"  [(ngModel)]="userItem.dob"  ></ion-input>
                        </ion-item> 
                        
                    
                      <ion-item col-12> 
                         <ion-label stacked>Mobile Number</ion-label>
                         <ion-input type="text" [(ngModel)]="userItem.mobile" ></ion-input>
                       </ion-item>
                     
                   
                       <ion-item col-12> 
                          <ion-label stacked>Email Id</ion-label>
                          <ion-input type="text" [(ngModel)]="userItem.email" ></ion-input>
                        </ion-item>
                      
                      
                      
                      <h6 class="title section-title">Job Details</h6>

                        <ion-row>
                            <ion-item col-6> 
                                <ion-label stacked>Date Of Joining</ion-label>
                                <ion-input type="text" readonly (tap)="dispdate('join')"   [(ngModel)]="userItem.doj"></ion-input>
                              </ion-item>

                             <ion-item col-6> 
                                <ion-label stacked>Position</ion-label>
                                <ion-select  [(ngModel)]="userItem.position">
                                  <ion-option *ngFor="let p of designations" [value]='p.value'>{{p.position}}</ion-option>
                                </ion-select>
                              </ion-item>
                           </ion-row>  

                          <ion-row>
                              <ion-col col-6>
                                  <ion-label >Set privileges</ion-label>
                                  <ion-checkbox  [(ngModel)]="sp" (ionChange)="showCheckbox($event,userItem)"></ion-checkbox>
                                </ion-col>
                                <ion-col col-6  [hidden]="x">
                                  <ion-label>Deactivate user</ion-label>
                                  <ion-checkbox  [(ngModel)]="statuss" ></ion-checkbox>
                                </ion-col>

                              </ion-row> 
                              <ion-row>
                                  
                           <button ion-button  icon-end  full color=blue (click)="btn(userItem)" >
                             {{butn}}
                           
                             </button>
                          </ion-row> 
                         
             
          </div>
            
       <div *ngSwitchCase="'allUsers'">
        <ion-list >
            <ion-searchbar placeholder="Search User"  [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>

           <ion-item>
           <ion-row no-margin class="table-title" >
                <ion-col col-6 >Name</ion-col><ion-col col-4>Position </ion-col><ion-col col-2>Action</ion-col>
              </ion-row>
          </ion-item>
           
           <ion-item>
            <ion-row  class="col-text row-bottom-border" *ngFor="let item of itemslist" >
                <ion-col col-6  style="color: #66887F;">
                  {{ item.fname }}
                </ion-col>
                <ion-col col-4  style="color:#2679B0;" >
                  {{ item.position }}
                </ion-col>
                <ion-col col-2 text-center (click)="collect(item.key,item.fname,item.lname,item.dob,item.mobile,item.email,item.doj,item.position,item.data,item.status)">
                <ion-icon name="create" ></ion-icon>
                </ion-col>
              </ion-row>
           </ion-item>
           
            <!-- <ion-item>
              <ion-input type="password" placeholder="Password" name="password" #password></ion-input>
            </ion-item> -->
         </ion-list>
      </div>
      </div>
</ion-content>

 


