<!--
  Generated template for the NewuserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <navbar pageTitle="USERS"></navbar>
</ion-header>

<ion-content  >
  <ion-segment [(ngModel)]="users" color="white" (click)="new1()">
    <ion-segment-button value="newUser"  >
    
     New User
    </ion-segment-button>
    <ion-segment-button value="allUsers" (click)="new()">
   
    All User
    </ion-segment-button>
  </ion-segment>
     
      <div [ngSwitch]="users">

          <div *ngSwitchCase="'newUser'">
              
           
          <form  [formGroup]="slideOneForm">
              <h6 class="title section-title ">User Information</h6>
                <ion-row>
                   <ion-item col-6 > 
                        <ion-label stacked>First Name</ion-label>
                        <ion-input type="text"  [(ngModel)]="userItem.fname" class="form-control" formControlName="fname" name="fname" ></ion-input>
                    </ion-item> 

                        <ion-item col-6> 
                          <ion-label stacked>Last Name</ion-label>
                          <ion-input type="text" [(ngModel)]="userItem.lname" formControlName="lname" name="lname" ></ion-input>
                        </ion-item>
                     </ion-row> 

                      <ion-row>
                        <ion-item [hidden]="fnameShow" col-6  no-lines *ngIf=" slideOneForm.get('fname').hasError('required') ">
                         <ion-label  stacked  color="danger" *ngIf="slideOneForm.get('fname').hasError('required')">
                              first name is required
                          </ion-label>
                          </ion-item>

                       <ion-item [hidden]="fnameShow" col-6 no-lines *ngIf=" slideOneForm.get('lname').hasError('required') ">

                        <ion-label  stacked  color="danger" *ngIf="slideOneForm.get('lname').hasError('required')">
                            lname is required
                        </ion-label>
                        </ion-item>
                    </ion-row>
                  
                    <ion-row>
                      <ion-item  > 
                          <ion-label stacked>Date Of Birth</ion-label>
                          <ion-input type="text" readOnly  (tap)="dispdate('birth')" [(ngModel)]="userItem.dob"  formControlName="dob" name="dob"  ></ion-input>
                        </ion-item> 
                    </ion-row> 
                    <ion-row>
                        <ion-item [hidden]="fnameShow" no-lines *ngIf=" slideOneForm.get('dob').hasError('required') ">
                          <ion-label  stacked  color="danger" *ngIf="slideOneForm.get('dob').hasError('required')">
                              Date of Birth is required
                          </ion-label>
                          </ion-item>
                    </ion-row>  
                    
                    <ion-row>
                      <ion-item > 
                         <ion-label stacked>Mobile Number</ion-label>
                         <ion-input type="text" [(ngModel)]="userItem.mobile" formControlName="mobile" name="mobile" ></ion-input>
                       </ion-item>
                       <ion-item  [hidden]="fnameShow"  no-lines *ngIf=" slideOneForm.get('mobile').hasError('required') ">

                        <ion-label stacked  color="danger" *ngIf="slideOneForm.get('mobile').hasError('required')">
                           mobile number is required
                        </ion-label>
                        </ion-item>
                     </ion-row> 
                   
                    <ion-row>
                       <ion-item> 
                          <ion-label stacked>Email Id</ion-label>
                          <ion-input type="text" [(ngModel)]="userItem.email" class="form-control"  formControlName="email" name="email"   ></ion-input>
                        </ion-item>
                        
                        <ion-item [hidden]="fnameShow" no-lines *ngIf="slideOneForm.get('email').hasError('pattern') || slideOneForm.get('email').hasError('required')">
                          <ion-label  stacked  color="danger"  *ngIf="slideOneForm.get('email').hasError('pattern') || slideOneForm.get('email').hasError('required')">
                          please enter a valid email id 
                          </ion-label>
                          </ion-item>
                      </ion-row>
                    
                      
                      <h6 class="title section-title">Job Details</h6>

                        <ion-row>
                            <ion-item col-6> 
                                <ion-label stacked>Date Of Joining</ion-label>
                                <ion-input type="text" readOnly  (tap)="dispdate('join')" [(ngModel)]="userItem.doj" formControlName="doj" name="doj" ></ion-input>
                              </ion-item>

                              <ion-item [hidden]="fnameShow"  col-6  no-lines *ngIf=" slideOneForm.get('doj').hasError('required') ">

                                <ion-label stacked  color="danger" *ngIf="slideOneForm.get('doj').hasError('required')">
                                  Date of Joining is required
                                </ion-label>
                                </ion-item>
                                
                             <ion-item col-6> 
                                <ion-label stacked>Position</ion-label>
                               
                                <ion-select   [(ngModel)]="userItem.position" formControlName="position" name="position">
                                  <ion-option *ngFor="let p of designations" [value]='p.value'>{{p.position}}</ion-option>
                                </ion-select>
                                
                              </ion-item>
                              <ion-item [hidden]="fnameShow" col-6 no-lines *ngIf=" slideOneForm.get('position').hasError('required') ">

                                <ion-label  stacked  color="danger" *ngIf="slideOneForm.get('position').hasError('required')">
                                   position is required
                                </ion-label>
                                </ion-item>
                           </ion-row>  
                          </form> 
                          <ion-item>
                              <ion-label stacked>Set privileges</ion-label>
                              <ion-textarea [(ngModel)]='selectedPrivileges' rows='2'  readonly (tap)="showCheckbox($event,userItem)" > </ion-textarea>
                           <!--   <ion-checkbox  [(ngModel)]="sp" (ionChange)="showCheckbox($event,userItem)"></ion-checkbox>
                               --> 
                              </ion-item>
                         <ion-row>
                              

                                <ion-col col-6  [hidden]="x">
                                  <ion-label stacked>Deactivate user</ion-label>
                                  <ion-checkbox  [(ngModel)]="statuss" ></ion-checkbox>
                                </ion-col>
                              </ion-row> 
                            
                           
                             
                             
                              <ion-row>


                           <button ion-button  icon-end  full color=blue (click)="btn(userItem)" >
                             {{butn}}
                             
                             </button>
                          </ion-row> 
                        
             
           
          </div>
            
       <div *ngSwitchCase="'allUsers'">
        <ion-list >
            <ion-searchbar placeholder="Search User"  [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
          <ion-item>
           <ion-row no-margin class="table-title" >
                <ion-col col-6 >Name</ion-col><ion-col col-4>Position </ion-col><ion-col col-2>Action</ion-col>
              </ion-row>
          </ion-item>
           
           <ion-item>
              <div *ngIf="(this.itemslist.length==0)" style="text-align:center">No record found</div>
            <ion-row  class="col-text row-bottom-border" *ngFor="let item of itemslist" >
                <ion-col col-6  style="color: #66887F;">
                  {{ item.fname }}
                </ion-col>
                <ion-col col-4  style="color:#2679B0;" >
                  {{ item.position }}
                </ion-col>
                <ion-col col-2 text-center (click)="collect(item.key,item.fname,item.lname,item.dob,item.mobile,item.email,item.doj,item.position,item.data,item.status)">
                <ion-icon name="create" ></ion-icon>
                </ion-col>
              </ion-row>
             
           </ion-item>
           
            <!-- <ion-item>
              <ion-input type="password" placeholder="Password" name="password" #password></ion-input>
            </ion-item> -->
         </ion-list>
      </div>
      </div>
</ion-content>

 


