<!--
  Author Tony Manuel
-->

<ion-header no-border>
    <ion-toolbar color="blue">
     <ion-title text-center>IdeaElan</ion-title>
   </ion-toolbar>
  </ion-header>

<ion-content padding class="top-botton-border" style="margin-top:auto;margin-bottom:auto">
    <form [formGroup]="changePasswordForm" (ngSubmit)="updatePassword(changePasswordForm.value,true)" >
  <ion-card>
    <ion-card-header text-center>
        <ion-thumbnail >
            <img [src]="companyLogo" class="logo1" />
          </ion-thumbnail>
          <br/>CHANGE PASSWORD
    </ion-card-header>
    <ion-card-content>
      <ion-list>
         
            <ion-item no-lines>
              <ion-label floating>New Password</ion-label>
              <ion-input type="password" formControlName="password" ></ion-input>
              
            </ion-item>
            
            <ion-item no-lines  *ngIf="(changePasswordForm.get('password').hasError('required') ) && changePasswordForm.get('password').touched">

                <ion-label stacked color="danger" *ngIf="changePasswordForm.get('password').hasError('required') && changePasswordForm.get('password').touched">
                   Password is required
                </ion-label>
            </ion-item>
         
          
            <ion-item>
              <ion-label floating>Confirm Password</ion-label>
              <ion-input type="password"  formControlName="confirmPassword"></ion-input>
            </ion-item>

            <ion-item no-lines *ngIf="( changePasswordForm.get('confirmPassword').hasError('equalTo') || changePasswordForm.get('confirmPassword').hasError('required') ) && changePasswordForm.get('confirmPassword').touched">
              <ion-label stacked color="danger" *ngIf="changePasswordForm.get('confirmPassword').hasError('required') && changePasswordForm.get('confirmPassword').touched">
                Confirm password is required
              </ion-label>
              <ion-label stacked color="danger" *ngIf="changePasswordForm.get('confirmPassword').hasError('equalTo') && changePasswordForm.get('confirmPassword').touched">
                 Password Mismatch
              </ion-label>
            </ion-item>
          
          </ion-list> 
          

    </ion-card-content>
    <ion-row class="cardfooter">
        <ion-col col-6>
            <button ion-button type="submit" full  color="blue" >Save</button>
           
        </ion-col>
        <ion-col col-6>
        
            <button ion-button full type="reset" color="blue" (click)="cancel()">Cancel</button>
        </ion-col>
      </ion-row>
  </ion-card>
</form>
</ion-content>
