
    .tabs .tabbar {
        background-color: #2679b0;
        border-top: 5px solid #f6a253 !important;
        
    }
    
    .tabs .tabbar a[aria-selected=true] {
        
            .tab-button-icon, a.tab-button{
                color: #FFF;
           
        }
    }
 
.tabs .tabbar {
    .tab-button-icon, a.tab-button{
        color: #FFF;
    }
}

tabBadge {
		position: absolute;
		top: -0.2rem;
		right: -0.2rem;
		opacity: 0.9;

		
    }




