<ion-header no-border>
  <navbar pageTitle="RECRUITMENT"></navbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="recruitment" color="white" >
      <ion-segment-button  value="newApplicant" (click)="disableFooter()" >
         New Applicant
      </ion-segment-button>

      <ion-segment-button value="schedules" (click)="enableFooter()">
         Schedules
      </ion-segment-button>

      <ion-segment-button value="interviews" (click)="viewInterviewDates()">
          Interviews
      </ion-segment-button>
  </ion-segment>
   
    <div [ngSwitch]="recruitment">

        <div *ngSwitchCase="'newApplicant'">
          <form [formGroup]="newApplicantForm" (ngSubmit)="onSubmit()">
         
              <ion-input hidden formControlName="$key"></ion-input>
              
           <ion-row>
                   <ion-col col-6>
                    <ion-item>
                      <ion-label stacked>First Name</ion-label>
                      <ion-input type="text" formControlName="fName" maxlength="15" ></ion-input>
                    </ion-item> 
                    <ion-item  no-lines *ngIf="(newApplicantForm.get('fName').hasError('minlength') || newApplicantForm.get('fName').hasError('required') ) && newApplicantForm.get('fName').touched">
                        <ion-label stacked  color="danger" *ngIf="(newApplicantForm.get('fName').hasError('required')  || newApplicantForm.get('fName').hasError('minlength')) && newApplicantForm.get('fName').touched" >
                          Invalid First Name
                        </ion-label>
                      </ion-item>
                  </ion-col>
                  <ion-col col-6>
                      <ion-item  >
                        <ion-label stacked>Last Name</ion-label>
                        <ion-input type="text"  formControlName="lName" maxlength="15" ></ion-input>
                      </ion-item>
                      <ion-item  no-lines *ngIf="(newApplicantForm.get('lName').hasError('minlength') || newApplicantForm.get('lName').hasError('required') ) && newApplicantForm.get('lName').touched">
                          <ion-label stacked  color="danger" *ngIf="(newApplicantForm.get('lName').hasError('required')  || newApplicantForm.get('lName').hasError('minlength')) && newApplicantForm.get('lName').touched" >
                            Invalid Last Name
                          </ion-label>
                        </ion-item>
                    </ion-col>
             </ion-row>

               
                    <ion-item  > 
                        <ion-label stacked>Mobile</ion-label>
                        <ion-input type="text" formControlName="mobile" maxlength="10"></ion-input>
                    </ion-item> 
                    <ion-item  no-lines *ngIf="(newApplicantForm.get('mobile').hasError('minlength') || newApplicantForm.get('mobile').hasError('required') ) && newApplicantForm.get('mobile').touched">
                      <ion-label stacked  color="danger" *ngIf="(newApplicantForm.get('mobile').hasError('required')  || newApplicantForm.get('mobile').hasError('minlength') ) && newApplicantForm.get('mobile').touched" >
                        Invalid Mobile Number
                      </ion-label>
                    </ion-item>
                
                      
                  
                    <ion-item> 
                       <ion-label stacked>Email</ion-label>
                       <ion-input type="email" formControlName="email"  ></ion-input>
                     </ion-item>
                     <ion-item  no-lines *ngIf="(newApplicantForm.get('email').hasError('minlength') || newApplicantForm.get('email').hasError('required') || newApplicantForm.get('email').hasError('pattern') ) && newApplicantForm.get('email').touched">
                      <ion-label stacked  color="danger" *ngIf="(newApplicantForm.get('email').hasError('minlength') || newApplicantForm.get('email').hasError('required') || newApplicantForm.get('email').hasError('pattern') ) && newApplicantForm.get('email').touched" >
                        Invalid Email ID
                      </ion-label>
                    </ion-item>
                   

                   <h6 class="title section-title ">Employer And Salary</h6>
                 
                     <ion-item > 
                        <ion-label stacked>Current Employer</ion-label>
                        <ion-input type="text"  formControlName="employer" maxlength="20"></ion-input>
                      </ion-item>
                      <ion-item  no-lines *ngIf="(newApplicantForm.get('employer').hasError('minlength') || newApplicantForm.get('employer').hasError('required') ) && newApplicantForm.get('employer').touched">
                        <ion-label stacked  color="danger" *ngIf="(newApplicantForm.get('employer').hasError('required')  || newApplicantForm.get('employer').hasError('minlength')) && newApplicantForm.get('employer').touched" >
                          Employer details Required
                        </ion-label>
                      </ion-item>
                   
                    
                    <ion-row>
                      <ion-col col-6>
                          <ion-item > 
                              <ion-label stacked>Notice Period</ion-label>
                              <ion-input type="text"  formControlName="noticePeriod" maxlength="10"></ion-input>
                            </ion-item>
                            <ion-item  no-lines *ngIf="(newApplicantForm.get('noticePeriod').hasError('minlength') || newApplicantForm.get('noticePeriod').hasError('required') ) && newApplicantForm.get('noticePeriod').touched">
                              <ion-label stacked  color="danger" *ngIf="(newApplicantForm.get('noticePeriod').hasError('required')  || newApplicantForm.get('noticePeriod').hasError('minlength')) && newApplicantForm.get('noticePeriod').touched" >
                                Notice Period Required
                              </ion-label>
                            </ion-item>
                            
                      </ion-col>
                    
                   
                       <ion-col col-6>
                         <ion-item>
                          <ion-label stacked>Current CTC</ion-label>
                          <ion-input type="Number" formControlName="currentctc" maxlength="7"></ion-input>
                        </ion-item>

                        <ion-item  no-lines *ngIf="(newApplicantForm.get('currentctc').hasError('minlength') || newApplicantForm.get('currentctc').hasError('required') ) && newApplicantForm.get('currentctc').touched">
                          <ion-label stacked  color="danger" *ngIf="(newApplicantForm.get('currentctc').hasError('required')  || newApplicantForm.get('currentctc').hasError('minlength')) && newApplicantForm.get('currentctc').touched" >
                            CTC Required
                          </ion-label>
                        </ion-item>
                        </ion-col>
                     </ion-row> 
                    
                    <h6 class="title section-title">Experience Details</h6>
                   <ion-row >
                     <ion-col col-6>
                     <ion-item >
                            <ion-label stacked>Total Experience</ion-label>
                            <ion-select    formControlName="experience">
                              <ion-option value="Below 1 Year">Below 1 Year</ion-option>
                              <ion-option value="1 - 2 Years">1 - 2 Years</ion-option>
                              <ion-option value="2 - 3 Years">2 - 3 Years</ion-option>
                              <ion-option value="3 - 4 Years">3 - 4 Years</ion-option>
                              <ion-option value="4 - 5 Years">4 - 5 Years</ion-option>
                              <ion-option value="Above 5 Years">Above 5 Years</ion-option>
                            </ion-select>
                          </ion-item>
                          <ion-item  no-lines *ngIf="(newApplicantForm.get('experience').hasError('minlength') || newApplicantForm.get('experience').hasError('required') ) && newApplicantForm.get('experience').touched">
                            <ion-label stacked  color="danger" *ngIf="(newApplicantForm.get('experience').hasError('required')  || newApplicantForm.get('experience').hasError('minlength')) && newApplicantForm.get('experience').touched" >
                             Invalid Experience
                            </ion-label>
                          </ion-item>
                        </ion-col>
                     
                    <ion-col col-6>
                        <ion-item >
                          <ion-label stacked>Expected CTC</ion-label>
                          <ion-input type="Number"  formControlName="expectedctc" maxlength="7"> </ion-input>
                        </ion-item>
                        <ion-item  no-lines *ngIf="(newApplicantForm.get('expectedctc').hasError('minlength') || newApplicantForm.get('expectedctc').hasError('required') ) && newApplicantForm.get('expectedctc').touched">
                          <ion-label stacked  color="danger" *ngIf="(newApplicantForm.get('expectedctc').hasError('required')  || newApplicantForm.get('expectedctc').hasError('minlength')) && newApplicantForm.get('expectedctc').touched" >
                            Invalid Expected CTC
                          </ion-label>
                        </ion-item>
                      </ion-col>
                  </ion-row>
                       
                      <ion-row>
                        <ion-col (col-6)="showDelete" (col-4)="!showDelete">
                        <button ion-button type="submit" [disabled]="newApplicantForm.invalid" ion-button  icon-end  full color=blue >
                           Save
                         </button>
                        </ion-col>
                        <ion-col *ngIf="showDelete" col-4 >
                          <button  ion-button type="button" (click)="deleteApplicant()"  ion-button  icon-end  full color=blue >
                             Delete
                           </button>
                          </ion-col>
                          <ion-col (col-6)="showDelete" (col-4)="!showDelete">
                            <button ion-button type="reset" (click)="resetApplciantForm()"  icon-end full color=blue   >
                              Cancel
                            </button>
                            </ion-col>
                      </ion-row> 
                       
            
          </form>
        </div>
          
     <div *ngSwitchCase="'schedules'">
        
         <ion-searchbar placeholder="Search Applicant" [(ngModel)]=searchString  [showCancelButton]="shouldShowCancel"></ion-searchbar>
         <ion-row no-margin class="table-title row-bottom-border">
                        <ion-col col-1 > 
                          <ion-checkbox [(ngModel)]="checkAll" (ionChange)='selectAll()'></ion-checkbox>
                        </ion-col>
                        <ion-col col-3>Name</ion-col>
                         <ion-col col-3>Exp</ion-col>
                         <ion-col col-3>Interview Date</ion-col>
                         <ion-col col-2>Edit</ion-col>
                     </ion-row>
     
                     <ion-row no-margin class=" col-text  row-bottom-border" *ngFor='let x of applicantDetails | tableFilter : "fName" : searchString; let i = index'  >
                         <ion-col col-1 > 
                             <ion-checkbox (ionChange)="clickSelectBox(x.$key)"></ion-checkbox>
                           </ion-col>
                           <ion-col col-3>{{x.fName}} {{x.lName}}</ion-col>
                            <ion-col col-3 >{{x.experience}}</ion-col>
                            <ion-col col-3>Not Set</ion-col>
                            <ion-col col-2 (click)="editCandidate(x)">Edit</ion-col>
                      </ion-row>
                     
                     
                      
                  
                    
    </div>

    <div *ngSwitchCase="'interviews'" >
        
      <ion-list >
        
      <!-- <ion-searchbar placeholder="Search User" [(ngModel)]="searchInterview"  [showCancelButton]="shouldShowCancel"></ion-searchbar>
        -->
                <ion-row no-margin class="table-title row-bottom-border">
                <ion-col col-4>Interview Date</ion-col>
                    <ion-col col-5>Interview Time</ion-col>
                     <ion-col col-3>Action</ion-col>
                </ion-row>

                <ion-row no-margin class=" col-text  row-bottom-border" *ngFor='let x of interviewDate | tableFilter : "contactPerson" : searchInterview; let i = index' >
                    
                      <ion-col col-4>{{x.interviewDate}} </ion-col>
                       <ion-col col-5 >{{x.interviewDetails.interviewTime}}</ion-col>
                       <ion-col col-3 (click)="interviewDetailsPage(x.$key,x.interviewDate)">View Details</ion-col>
                </ion-row>
                
        </ion-list>
      


    </div>



    </div>
</ion-content>
<ion-footer *ngIf="showFooter">
    <ion-item  no-lines *ngIf="applicantsErr">
        <ion-label stacked  color="danger" >
          Select Candidate
        </ion-label>
      </ion-item>
  <button ion-button color="blue" full (click)="gotoCreateSchedule()">Create Schedules</button>
</ion-footer>