<ion-header no-border>
  <page-header pageTitle="APPLY LEAVE"></page-header>
</ion-header>


<ion-content>


  
  
    <ion-segment [(ngModel)]="ionSegmentDefaultValue" color="white" >
        <ion-segment-button value="applyLeave" (click)="viewRemainingLeaves()">
           Apply Leave
        </ion-segment-button>
        <ion-segment-button value="leaveHistory" (click)="leaveHistory()" >
          My Leaves
        </ion-segment-button>
     </ion-segment>


<div [ngSwitch]="ionSegmentDefaultValue">
  <div *ngSwitchCase="'applyLeave'">
    
   






    <ion-card>
      <ion-card-content>
         <ion-row (click)="remaining()">
            <ion-col col-6>This month leaves</ion-col>
            <ion-col col-6>Remaining Leaves</ion-col>
         </ion-row>
         
        <ion-row >
           <ion-col col-6>{{leaveCount.currentMonthLeave}}</ion-col><ion-col col-4>Casual</ion-col><ion-col col-2>{{leaveCount.casualRemaining}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6></ion-col><ion-col col-4>Sick</ion-col><ion-col col-2>{{leaveCount.sickRemaining}}</ion-col>
         </ion-row>
         
      </ion-card-content>
  </ion-card>

  <form [formGroup]="leaveForm"   (ngSubmit)="applyForLeave(leaveInfo)">
  <h6 text-center class="title section-title">Leave Request</h6>
    <ion-list>
      
      <div radio-group [(ngModel)]="leaveInfo.leaveType"  formControlName="leaveType">
          <ion-row>
              <ion-item col-6>
                  <ion-radio  value="casual"></ion-radio>
                  <ion-label>Casual Leave</ion-label>
              </ion-item>
              
              <ion-item col-6>
                  <ion-radio value="sick"></ion-radio>
                <ion-label>Sick Leave</ion-label>
              </ion-item>

              <ion-item no-lines [hidden]="leaveErr">
                  <ion-label stacked  color="danger" >
                   Leave type is required
                </ion-label>
                </ion-item>
            </ion-row>
       </div>
    
    
  
    <ion-item col-12>
      <ion-label stacked>Select Dates</ion-label>
      <ion-input  type="readonly" (tap)="datePicker('multi') " [(ngModel)]="leaveDates" readonly formControlName="date"  ></ion-input>
    </ion-item>
    <ion-item no-lines [hidden]="dateErr">
        <ion-label stacked  color="danger" >
         Leave date is required
      </ion-label>
      </ion-item>
    
  
  <ion-row>
      <ion-col col-6>
    <button ion-button full color="blue" type="submit" >Submit</button>
  </ion-col>
    <ion-col col-6>
        <button ion-button type="reset"  icon-end full color=blue (click)="resetForm()" >
          Cancel
        </button>
      </ion-col>
  </ion-row>

</ion-list>
</form>
</div>

    <div *ngSwitchCase="'leaveHistory'">
      
      <ion-row>
       <ion-item col-6>
              <ion-label floating>From Date</ion-label>
              <ion-input readonly (tap)="dispDate('from')" [(ngModel)]="dateFrom" #dateFromElem full color="blue"></ion-input>
              <ion-icon name="calendar" item-right></ion-icon>
            </ion-item>
            <ion-item col-6>
              <ion-label floating>To Date</ion-label>
              <ion-input readonly (tap)="dispDate('to')" [(ngModel)]="dateTo" #dateToElem full color="blue"></ion-input>
              <ion-icon name="calendar" item-right></ion-icon>
            </ion-item>
        </ion-row>
        <ion-item>
          <button ion-button (click)="getMyLeaves()" color="blue">Show</button>
        </ion-item>
    
  <ion-list>
        <h6 text-center class="title section-title">{{dateRange}}</h6>
        
        <ion-list >
            <div *ngIf="(leaveRecords.length==0)">No Record Found</div>
          <ion-item *ngFor="let x of leaveRecords" style="background-color:honeydew">
            <h3>{{x.leaveType | titlecase}} Leave</h3>
            <h5 *ngFor="let date of x.date" > {{date}}</h5>
            <h5 [ngClass]='x.status'>{{x.status}}</h5>
            <div *ngIf="x.reason!=null && x.reason!='' ">
                Comments: {{x.reason}}
              </div>
              
              <button *ngIf="(x.status=='pending')" ion-button item-right color="blue" (click)="deleteLeave(x.$recKey)">Cancel</button>
                
          </ion-item>
        </ion-list>

        

           
        </ion-list>
        
    </div>
</div>


</ion-content>
