<!--
  Generated template for the ApplyLeavePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header no-border>
  <ion-toolbar color="blue" hideBackButton="true">
    <button ion-button  menuToggle="left" start>
        <ion-icon name="menu"></ion-icon>
    </button>
    
    <ion-title text-center>Leaves</ion-title>

    <ion-buttons end>
      <button ion-button >
        <ion-icon name="notifications"></ion-icon> 
      </button> 
    </ion-buttons>
    
</ion-toolbar>

</ion-header>


<ion-content>


  
  
    <ion-segment [(ngModel)]="ionSegmentDefaultValue" color="white" >
        <ion-segment-button value="applyLeave">
           Apply Leave
        </ion-segment-button>
        <ion-segment-button value="leaveHistory" (click)="leaveHistory()" >
          History
        </ion-segment-button>
     </ion-segment>


<div [ngSwitch]="ionSegmentDefaultValue">
  <div *ngSwitchCase="'applyLeave'">
    
   






    <ion-card>
      <ion-card-content>
         <ion-row (click)="remaining()">
            <ion-col col-6>This month leaves</ion-col>
            <ion-col col-6>Remaining Leaves</ion-col>
         </ion-row>
         
        <ion-row >
           <ion-col col-6>{{leaveCount.currentMonthLeave}}</ion-col><ion-col col-4>Casual</ion-col><ion-col col-2>{{leaveCount.casualRemaining}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6></ion-col><ion-col col-4>Sick</ion-col><ion-col col-2>{{leaveCount.sickRemaining}}</ion-col>
         </ion-row>
         
      </ion-card-content>
  </ion-card>

  <form [formGroup]="leaveForm"   (ngSubmit)="applyForLeave(leaveInfo)">
  <h6 text-center class="title section-title">Leave Details</h6>
    <ion-list>
      
      <div radio-group [(ngModel)]="leaveInfo.leaveType"  formControlName="leaveType">
          <ion-row>
              <ion-item col-6>
                  <ion-radio  value="casual"></ion-radio>
                  <ion-label>Casual Leave</ion-label>
              </ion-item>
              
              <ion-item col-6>
                  <ion-radio value="sick"></ion-radio>
                <ion-label>Sick Leave</ion-label>
              </ion-item>

              <ion-item no-lines *ngIf="leaveForm.get('leaveType').hasError('requiredTrue') && leaveForm.get('leaveType').touched">
                  <ion-label stacked  color="danger" >
                   Leave type is required
                </ion-label>
                </ion-item>
            </ion-row>
       </div>
    
    
  
    <ion-item col-12>
      <ion-label stacked>Select Dates</ion-label>
      <ion-input  type="readonly" (click)="datePicker('multi') " [(ngModel)]="leaveDates" readonly formControlName="date"  ></ion-input>
    </ion-item>
    <ion-item no-lines *ngIf="leaveForm.get('date').hasError('required') && leaveForm.get('date').touched">
        <ion-label stacked  color="danger" >
         Leave date is required
      </ion-label>
      </ion-item>
    
  
  <ion-item>
    <button type="submit"  ion-button full color="blue" >Submit</button>
  </ion-item>
</ion-list>
</form>
</div>

    <div *ngSwitchCase="'leaveHistory'">
      
      <ion-row>
       <ion-item col-12>
              <button ion-button (click)="datePicker('range')" full color="blue">Open calendar</button>
            </ion-item>
        </ion-row>
    
  
     
  
  
  
      <ion-list>
        <h6 text-center class="title section-title">{{dateRange}}</h6>
         
        <ion-card *ngFor="let x of leaveRecords " class="col-text row-bottom-border" >
                  <ion-card-header>
                  {{x.leaveType}} Leave<br/> 
                  
                  </ion-card-header>
                  
                  <ion-card-content  [ngClass]='x.status'>
                      {{x.date}} <br/>
                      {{x.status}} 
                      <div *ngIf="(x.reason!=null)">
                      Comments: {{x.reason}}
                    </div>
                  </ion-card-content>
                </ion-card>

           
        </ion-list>
        
    </div>
</div>


</ion-content>
