<!--
 Tony Manuel
-->


<ion-header>
  <navbar pageTitle="Interview Summary"></navbar>
</ion-header>
<ion-content >
  <ion-card>
    <ion-card-header>
     <ion-row>Interview Summary</ion-row>
     
     <ion-row>{{eventDate}}</ion-row>
     <ion-row>Total Candidates:{{total_Count}}</ion-row>
     <ion-row> Attended:{{attended_Count}}</ion-row>
     <ion-row> Selected:{{selectedList.length}}</ion-row>
    </ion-card-header>
  </ion-card>
  
      <ion-list >
    <h6 class="title section-title">Selected Candidates</h6>
    <ion-item>
      <ion-row class="table-title">
        <ion-col col-4 *ngIf="selectedList.length>0" >Name</ion-col>
      </ion-row>
    </ion-item>
    <div *ngFor="let x of selectedList">
    <ion-item no-lines  >
      <ion-row  class="col-text" >
          <ion-col col-6  style="color: #66887F;">
           {{x.fName}} {{x.lName}}
          </ion-col>
          <ion-col col-4  style="color:#2679B0;" >
           Notice Period:{{x.noticePeriod}}
          </ion-col><br/>
        
       
          <ion-col col-6  style="color: #66887F;">
           {{x.employer}}
          </ion-col>
          <ion-col col-6  style="color:#2679B0;" >
           Current CTC:{{x.currentctc}}
          </ion-col><br/>
        
          <ion-col col-6  style="color: #66887F;">
           {{x.mobile}}
          </ion-col>
          <ion-col col-6  style="color:#2679B0;" >
           Expected CTC:{{x.expectedctc}}
          </ion-col><br/>
        <ion-col col-12  class="row-bottom-border" style="color: #66887F;">
          {{x.email}}
          </ion-col>
         </ion-row >
     </ion-item>
    </div>
    </ion-list>

</ion-content>
