//Author Tony Manuel

.box-events{
    text-align: center;
    width:100%;
    min-height:330px;
    border-top:1px solid #f6a253;
    border-bottom:1px solid #f6a253;
    border-radius: 10px;
    position: fixed;
    left: 0;
    top: 5px;
    right: 0;
}



button {
	ion-badge {
		position: absolute;
		top: -0.2rem;
		right: -0.2rem;
		opacity: 0.9;

		
	}
}

.privilleges button{
    background-color: #2679b0;
    text-align: center;
    color: #ffffff;
    margin-bottom:5px;
   
}

.privilleges  p{
    color: #ffffff;
}
