<ion-header>
  <page-header title="HOME"></page-header>
</ion-header>



<ion-content padding>
    <div *ngIf="(events.length==0)">No Upcoming Events</div>
  <h5  *ngIf="(events.length!=0)">Upcoming Events ({{events.length}})</h5>
  
 
    <ion-list >
      <ion-item *ngFor="let event of events">
        <ion-avatar item-start>
            <img src="https://firebasestorage.googleapis.com/v0/b/sopaa-b37c1.appspot.com/o/{{event.userId}}.jpg?alt=media&token=36f41e79-9cfc-40c8-b4ca-192113ff40b" onerror="this.src='assets/imgs/companylogo.png'"> 

        </ion-avatar>
        <h5> {{event.title}}</h5>
        <p>{{event.user}}</p>
        <p>{{event.date}}</p>
      </ion-item>
    </ion-list>
    

 
  
</ion-content>
<ion-footer padding class="privilleges" >
  <h5>Control Panel</h5>
  <ion-list no-lines>
    <button ion-item  (click)="goto('NewuserPage')" [hidden]=users >
        Users
        
    </button>
    
 
      <button ion-item  (click)="goto('SystemsPage')" [hidden]=systems >
          Systems
      </button>
    
      <button ion-item (click)="goto('RecruitmentPage')" [hidden]=recruitment>
        Recruitment
     </button>
   
     
          <button ion-item  (click)="goto('LeavesAdminPage')" [hidden]=leaveRequest>
             Leave Request
             <ion-badge color="danger">{{lrstatus.length}}</ion-badge>
          </button>
       
            <button ion-item   (click)="goto('UploadEventsPage')" [hidden]="sendMessage">
                Send Message
            </button>
          </ion-list>
          
  
</ion-footer>
