<!--
 Abey Abraham
-->
<ion-header no-border>
  <page-header pageTitle="Support"></page-header>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="support" color="white" >
    <ion-segment-button value="newIssue">
       New Issue
    </ion-segment-button>
    <ion-segment-button value="pastIssues" (click)="resetFields()">
      History
    </ion-segment-button>
    <ion-segment-button value="messages" (click)="resetFields()" *ngIf="user=='admin' || user=='hr' ">
      Messsages
    </ion-segment-button>
 </ion-segment>

 <div [ngSwitch]="support">
    <div *ngSwitchCase="'newIssue'">
        <ion-item>
            <ion-label stacked>Send To</ion-label>
              <ion-select [(ngModel)]="recipient">
                <ion-option value="hr">HR</ion-option>
                <ion-option value="admin">Admin</ion-option>
              </ion-select>
          </ion-item>
          <ion-item  no-lines [hidden]="recpErr">
            <ion-label color="danger" stacked>Recipient cannot be blank</ion-label>
          </ion-item>
     
      <ion-item>
        <ion-label stacked>I need Help With</ion-label>
          <ion-select [(ngModel)]="subject">
            <ion-option value="Internet">Internet Connectivity</ion-option>
            <ion-option value="Computer">Computer Related</ion-option>
            <ion-option value="Other">Other</ion-option>
          </ion-select>
      </ion-item>
      <ion-item no-lines [hidden]="subjectErr">
          <ion-label color="danger" stacked>Subject cannot be blank</ion-label>
        </ion-item>
      <ion-item>
        <ion-label stacked>Please enter your issue</ion-label>
        <ion-textarea rows=5 [(ngModel)]="matter"></ion-textarea>
      </ion-item>
      <ion-item  no-lines [hidden]="commentErr">
          <ion-label color="danger" stacked>Minimum 5 Characters</ion-label>
        </ion-item>

      <ion-row>
        <ion-col col-6><button ion-button  type="button" color="blue" full (click)="contactSupport()">Send</button></ion-col>
        <ion-col col-6><button ion-button  type="reset" color="blue" full (click)="resetFields()">Cancel</button></ion-col>
       
      </ion-row>
      
    </div>
    <div *ngSwitchCase="'pastIssues'">
        <ion-item>
            <ion-row class="table-title">
              <ion-col col-3 >Date</ion-col>
              <ion-col col-3 >Send To</ion-col>
               <ion-col col-4 >Subject</ion-col>
              <ion-col col-2 >Status</ion-col>
             
            </ion-row>
          </ion-item>
          <ion-item *ngFor='let r of myRequests' [ngClass]=r.status  >
              <ion-row class='col-text table-bottom-border'  >
                  <ion-col col-3>{{r.date}}</ion-col><ion-col col-3>{{r.recipient}}</ion-col><ion-col col-4>{{r.subject}}</ion-col><ion-col col-2>{{r.status}}</ion-col>
              </ion-row>
            </ion-item>
    </div>

    <div *ngSwitchCase="'messages'">
     <ion-item>
       <ion-label >Filter Messages By</ion-label>
      <ion-select interface="popover" (ionChange)="filterRequests($event)" [(ngModel)]="filter">
          <ion-option value="all" selected>All</ion-option>
        <ion-option value="pending">Pending</ion-option>
        <ion-option value="review">Under Review</ion-option>
        <ion-option value="closed">Closed</ion-option>
      </ion-select>
    </ion-item>
       
      <ion-item>
          <ion-row class="table-title">
            <ion-col col-3 >Date</ion-col>
            <ion-col col-4 >From</ion-col>
             <ion-col col-3 >Subject</ion-col>
            <ion-col col-2 >Status</ion-col>
           
          </ion-row>
        </ion-item>
        
        <ion-item *ngFor='let s of messages' >
            <ion-row class="col-text table-bottom-border " [ngClass]=s.status (click)="changeStatus(s)" >
                <ion-col col-3>{{s.date}}</ion-col><ion-col col-4>{{s.userName}}</ion-col><ion-col col-3>{{s.subject}}</ion-col><ion-col col-2>{{s.status}}</ion-col>
            </ion-row>
          </ion-item>
  </div>

 </div>

 
</ion-content>
