<ion-header no-border>
  <navbar pageTitle="RESET PASSWORD"></navbar>
</ion-header>



<ion-content padding >
    
        <form [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()">
       

          <ion-item no-lines>
            <h3 style="font-size:20px"> Forgot Password?</h3>
            <p style="font-size:12px">Enter your email address to reset your password</p>
            </ion-item>
           <ion-item no-lines>
            <ion-input type="email" style="border:1px solid #f6a253" full  formControlName="email" ></ion-input>
          </ion-item>
          <ion-item  no-lines *ngIf="(passwordResetForm.get('email').hasError('minlength') || passwordResetForm.get('email').hasError('required') || passwordResetForm.get('email').hasError('pattern') ) && passwordResetForm.get('email').touched">
              <ion-label stacked  color="danger" *ngIf="(passwordResetForm.get('email').hasError('minlength') || passwordResetForm.get('email').hasError('required') || passwordResetForm.get('email').hasError('pattern') ) && passwordResetForm.get('email').touched" >
                Invalid Email ID
              </ion-label>
            </ion-item>
       
         <ion-row>
           <ion-item col-6 no-lines>
             <button ion-button color="blue" style="height:40px;" type="submit"  [disabled]="passwordResetForm.invalid">Reset Password</button>
           </ion-item>
           <ion-item col-6 no-lines>
              <button type="reset" ion-button color="light" style="height:40px;" (click)="goBack()">Cancel</button>
            </ion-item>
         </ion-row>
        
      </form>
        <hr/>
</ion-content>
