<ion-header no-border>
    <ion-toolbar color="blue" >
      <button ion-button  menuToggle="left" start>
          <ion-icon name="menu"></ion-icon>
      </button>
      
      <ion-title text-center>Approve Leaves</ion-title>
  
      <ion-buttons end>
        <button ion-button >
          <ion-icon name="notifications"></ion-icon> 
        </button> 
      </ion-buttons>
  </ion-toolbar>
  </ion-header>


<ion-content>
    <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/companylogo.png">
          </ion-avatar>
          <h2>{{userLeaveDetails.name}}</h2>
          <p>Leave Type:{{userLeaveDetails.leaveType}}</p>
          <p>Date: [ {{userLeaveDetails.date}}]</p>
        </ion-item>
        <ion-row>
            <ion-col col-6>This month leaves</ion-col>
            <ion-col col-6>Remaining Leaves</ion-col>
         </ion-row>
         
        <ion-row >
           <ion-col col-6>{{leaveCount.currentMonthLeave}}</ion-col><ion-col col-4>Casual</ion-col><ion-col col-2>{{leaveCount.casualRemaining}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6></ion-col><ion-col col-4>Sick</ion-col><ion-col col-2>{{leaveCount.sickRemaining}}</ion-col>
         </ion-row>
 
         <ion-row>
           <ion-col col-6><button ion-button color="secondary" (click)="showConfirm(userLeaveDetails,'approved')"  >Approve</button></ion-col>
           <ion-col col-6><button ion-button color="danger" (click)="rejectConfirm(userLeaveDetails,'rejected')" >Reject</button></ion-col>
        </ion-row>
      </ion-card>

    
    
      
  <ion-card>
      <ion-list>
        <h6 text-center class="title section-title">Past Leaves</h6>
        <ion-item col-12>
          <ion-label floating>Select Date</ion-label>
          <ion-input type="text" [(ngModel)]="dateRange" (click)="datePicker('range')" readonly></ion-input>
          <ion-icon name="calendar" item-right></ion-icon>
        </ion-item>

        <ion-item center>
          <button ion-button (click)="leaveHistory()" color="blue" >Show</button>
        </ion-item>

        <ion-card *ngFor="let x of leaveRecords " class="col-text row-bottom-border" >
          <ion-card-header>
          {{x.leaveType}} Leave<br/> 
          
          </ion-card-header>
          
          <ion-card-content  [ngClass]='x.status'>
              {{x.date}} <br/>
              {{x.status}} 
              <div *ngIf="(x.reason!=null)">
              Comments: {{x.reason}}
            </div>
          </ion-card-content>
        </ion-card>
        
        
        <!--<ion-item>
              <ion-row class="table-title" >
                <ion-col col-3 >Leave Type</ion-col>
                <ion-col col-7 >Date</ion-col>
                <ion-col col-2 >Status</ion-col>
                <ion-col hidden col-2>View</ion-col>
              </ion-row>
            </ion-item>
            <ion-item>
              <ion-row *ngFor="let x of leaveRecords" class="col-text row-bottom-border" [ngClass]='x.status'>
                  <ion-col col-3>{{x.leaveType}}</ion-col><ion-col col-7 text-wrap>{{x.date}}</ion-col><ion-col col-2>{{x.status}}</ion-col>
              </ion-row>
            </ion-item>
          -->
        </ion-list>
      </ion-card>
</ion-content>
