<ion-header no-border>
  <navbar pageTitle="APPROVE LEAVE"></navbar>
</ion-header>


<ion-content>
    <ion-card>
        <ion-item>
          <h2>{{userLeaveDetails.name | titlecase}}</h2>
          <p>Leave Type:{{userLeaveDetails.leaveType | titlecase}}</p>
          <div>Date:<p *ngFor="let date of userLeaveDetails.date" > {{date}}</p></div>
         <!-- <button ion-fab color="blue" mini item-right (click)="goBack()"><ion-icon name="arrow-round-back"></ion-icon></button>-->
        </ion-item>
        <ion-row>
            <ion-col col-6>This month leaves</ion-col>
            <ion-col col-6>Remaining Leaves</ion-col>
         </ion-row>
         
        <ion-row >
           <ion-col col-6>{{leaveCount.currentMonthLeave}}</ion-col><ion-col col-4>Casual</ion-col><ion-col col-2>{{leaveCount.casualRemaining}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6></ion-col><ion-col col-4>Sick</ion-col><ion-col col-2>{{leaveCount.sickRemaining}}</ion-col>
         </ion-row>
 
         <ion-row>
           <ion-col col-6><button ion-button full style="background-color: green" (click)="showConfirm(userLeaveDetails,'approved')"  >Approve</button></ion-col>
           <ion-col col-6><button ion-button full color="danger" (click)="rejectConfirm(userLeaveDetails,'rejected')" >Reject</button></ion-col>
        </ion-row>
      </ion-card>

    
    
      
  <ion-card>
      <ion-list>
          
        <h6 text-center class="title section-title">Past Leaves</h6>
        <!--<ion-item col-12>
          <ion-label floating>Select Date</ion-label>
          <ion-input type="text" [(ngModel)]="dateRange" (tap)="datePicker('range')" readonly></ion-input>
          <ion-icon name="calendar" item-right></ion-icon>
        </ion-item>
        -->
        <ion-row>
          <ion-item col-6>
                 <ion-label floating>From Date</ion-label>
                 <ion-input readonly (tap)="dispDate('from')" [(ngModel)]="dateFrom" #dateFromElem full color="blue"></ion-input>
                 <ion-icon name="calendar" item-right></ion-icon>
               </ion-item>
               <ion-item col-6>
                 <ion-label floating>To Date</ion-label>
                 <ion-input readonly (tap)="dispDate('to')" [(ngModel)]="dateTo" #dateToElem full color="blue"></ion-input>
                 <ion-icon name="calendar" item-right></ion-icon>
               </ion-item>
           </ion-row>
           <ion-item>
            <button ion-button (click)="leaveHistory(dateFrom,dateTo)" color="blue">Show</button>
          </ion-item>
          <hr/>
        

        <ion-list >
            <div *ngIf="(leaveRecords.length==0)" style="text-align:center">No record found</div>
            <ion-item *ngFor="let x of leaveRecords" style="background-color:honeydew">
              <h3>{{x.leaveType | titlecase}} Leave</h3>
              <h5 *ngFor="let date of x.date" > {{date}}</h5>
              <h5 [ngClass]='x.status'>{{x.status}}</h5>
              <div *ngIf="x.reason!=null && x.reason!='' ">
                  Comments: {{x.reason}}
                </div>
              
            </ion-item>
          </ion-list>
        
        
        <!--<ion-item>
              <ion-row class="table-title" >
                <ion-col col-3 >Leave Type</ion-col>
                <ion-col col-7 >Date</ion-col>
                <ion-col col-2 >Status</ion-col>
                <ion-col hidden col-2>View</ion-col>
              </ion-row>
            </ion-item>
            <ion-item>
              <ion-row *ngFor="let x of leaveRecords" class="col-text row-bottom-border" [ngClass]='x.status'>
                  <ion-col col-3>{{x.leaveType}}</ion-col><ion-col col-7 text-wrap>{{x.date}}</ion-col><ion-col col-2>{{x.status}}</ion-col>
              </ion-row>
            </ion-item>
          -->
        </ion-list>
      </ion-card>
</ion-content>
