<!--
  Generated template for the UploadEventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <page-header pageTitle="SEND MESSAGE"></page-header>
</ion-header>

<ion-content>
    <ion-segment [(ngModel)]="messages" color="white" >
        <ion-segment-button value="compose">
           Compose
        </ion-segment-button>
        <ion-segment-button value="sentItems" (click)="getSentItems()">
          Sent Items
        </ion-segment-button>
     </ion-segment>

     <div [ngSwitch]="messages">
        <div *ngSwitchCase="'compose'">
    <form [formGroup]="PublishMessageForm" (ngSubmit)="publishMessage()">
        
       
          <ion-item>
                <ion-label floating>Recipients</ion-label>
                <ion-input type="text" formControlName="recipients" readonly (click)="addRecipients()" (ionFocus)="addRecipients()"></ion-input>
           </ion-item>    

    <ion-item>
      <ion-label floating>Subject</ion-label>
        <ion-input type="text" formControlName="subject"></ion-input>
    </ion-item>
    <ion-item  no-lines *ngIf=" PublishMessageForm.get('subject').hasError('required')  && PublishMessageForm.get('subject').touched">
        <ion-label stacked  color="danger">
          Subject Is Required
        </ion-label>
      </ion-item>
    <ion-item>
        <ion-label floating>Message</ion-label>
          <ion-textarea rows="10" formControlName="message"></ion-textarea>
      </ion-item>
      <ion-item  no-lines *ngIf=" PublishMessageForm.get('message').hasError('required')  && PublishMessageForm.get('message').touched">
          <ion-label stacked  color="danger">
            Message Is Required
          </ion-label>
        </ion-item>

       <ion-row>
            <ion-col col-6>
                <button type="submit"  [disabled]="PublishMessageForm.invalid" color="blue" full ion-button>Send Message</button>
          </ion-col>
          <ion-col col-6>
              <button ion-button type="reset"  icon-end full color=blue   >
                Cancel
              </button>
            </ion-col>
          </ion-row> 
         </form>
  </div>

  <div *ngSwitchCase="'sentItems'" >
      <ion-item>
          <ion-row class="table-title">
            <ion-col col-5 >Recipients</ion-col>
            <ion-col col-4 >Subject</ion-col>
            <ion-col col-3 >Date</ion-col>
            
          </ion-row>
        </ion-item>
        <ion-item *ngFor="let message of sentItems">
          <ion-row class="col-text table-bottom-border" (click)="viewMessage(message)" >
              <ion-col col-5 *ngFor="let recipients of message.recipients">{{recipients}}</ion-col><ion-col col-4>{{message.subject}}</ion-col><ion-col col-3>{{message.date}}</ion-col>
          </ion-row>
        </ion-item>
    </div>


         </div>
</ion-content>
