
<ion-header>
  <page-header pageTitle="CHATBOT"></page-header>
</ion-header>

<ion-content padding >

  <ion-input type="text" [(ngModel)]="question" hidden=true></ion-input>

  <button ion-button (click)="ask(question)" hidden=true>Ask</button>

  


 


  <p text-center *ngIf="sending">sending...</p>
  <div *ngFor="let q of questions" style="left:0px" >
    <label name="title" class="msgClass">{{q.question}}</label>
     
  </div>

  <div *ngFor="let q of answer"  class="msgClass" style="right:0px;position: relative; text-align: right; background-color: honeydew ">
      <label name="title" style="display:inline-flex">{{q.answer}}</label>
  
</div>
 
 
</ion-content>

<ion-footer>
    <ion-item>
    <ion-input [(ngModel)]="question" name="message" class="input_message" placeholder="Ask me anything"></ion-input>
    <button ion-button (click)="ask(question)" item-right  color="orange"> <ion-icon  name="send" ></ion-icon></button>
   
  </ion-item>
</ion-footer>

