<ion-header no-border>
  <ion-toolbar color="blue" hideBackButton="true">
    <button ion-button  menuToggle="left" start>
        <ion-icon name="menu"></ion-icon>
    </button>
    
    <ion-title text-center>Leave</ion-title>

    <ion-buttons end>
      <button ion-button >
        <ion-icon name="notifications"></ion-icon> 
      </button> 
    </ion-buttons>
</ion-toolbar>
</ion-header>
  



  <ion-content>
 
      <ion-segment [(ngModel)]="leaves" color="white" >
         <ion-segment-button value="viewLeaveRequests">
            Leave Requests
         </ion-segment-button>
         <ion-segment-button value="leaveHistory" (click)="getEmployee()" >
          History
         </ion-segment-button>
      </ion-segment>
  <div [ngSwitch]="leaves">
    <div *ngSwitchCase="'viewLeaveRequests'">
    
        

      <ion-card (click)="openModal('ApproveLeavePage',user)" *ngFor="let user of leaveRequests">
         
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/companylogo.png">
          </ion-avatar>
          <h2>{{user.name}}</h2>
          <p>{{user.leaveType}}</p>
        </ion-item>
        
        
      </ion-card>
    

    
    </div>

    <div *ngSwitchCase="'leaveHistory'">
     
      <ion-item>
          <ion-label>Employee Name</ion-label>
        <ion-select [(ngModel)]="employeeKey">
                 <ion-option *ngFor="let emp of employeeName" value="{{emp.$key}}">{{emp.fname}}</ion-option>
        </ion-select>
      </ion-item>
      
              <ion-item col-12>
                 <ion-label floating>Select Date</ion-label>
                 <ion-input type="text" [(ngModel)]="dateRange" (click)="datePicker('range')" readonly></ion-input>
                 <ion-icon name="calendar" item-right></ion-icon>
               </ion-item>
           
      <ion-item center>
        <button ion-button (click)="leaveHistory()" color="blue"  >Show</button>
      </ion-item>

      
      <ion-list>
          <h6 text-center class="title section-title">{{dateRange}}</h6>
           
          <ion-card *ngFor="let x of leaveRecords " class="col-text row-bottom-border" >
                    <ion-card-header>
                    {{x.leaveType}} Leave<br/> 
                    
                    </ion-card-header>
                    
                    <ion-card-content  [ngClass]='x.status'>
                        {{x.date}} <br/>
                        {{x.status}} 
                        <div *ngIf="(x.reason!=null)">
                        Comments: {{x.reason}}
                      </div>
                    </ion-card-content>
                  </ion-card>
  
             
          </ion-list>

      
    </div>


  </div>
    
  </ion-content>
  
 